<form class="form_auth">
  <h2>Please sign in</h2><br/>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="auth.username" autofocus required/>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Enter password" ng-model="auth.password" required/>
  </div>
  <div class="checkbox">
  <label>
    <input type="checkbox" ng-model="auth.remember"> Keep me logged in
  </label>
  </div><br/>
  <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="auth.login()">Login</button><br/>
  <p><a href="#/register">Register a new user</a></p>
  <p><a href="">Forgot password?</a></p>
  <p class="message"></p>
</form>
