html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.calendar_style {
  margin-bottom: 25px;
}

.form_style {
  width: 300px;
  margin: 20px auto;
  border-radius: 5px;
  padding: 8px;
}

div[ng-messages*="error"] {
  color: red;
}
