<alert-msg alerts="alerts"></alert-msg>

<div class="row">
  <div class="col-md-12">
    <h1>{{calendar.title}}</h1>
  </div>
</div>

<div ng-show="calendar">
  <div class="row">
    <div class="col-md-12 calendar_style">
      <calendar day-click-handler="dayClickHandler(data)" event-click-handler="eventClickHandler(data)" events="calendarEvents"></calendar>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <input type="button" class="btn btn-danger" ng-click="deleteCalendar()" value="Delete" />
    </div>
  </div>
</div>

<div ng-hide="calendar">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger">
        Calendar <strong>({{calendarId}})</strong> not found in the system!
      </div>
    </div>
  </div>
</div>
